<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <div>
        <label for="category-select">Filtrar por categoría:</label>
        <select id="category-select">
            <option value="">Todas</option>
            <option value="Categoria1">Categoría 1</option>
            <option value="Categoria2">Categoría 2</option>
            <!-- Agregar más opciones según tus categorías -->
        </select>

        <label for="price-sort">Ordenar por precio:</label>
        <select id="price-sort">
            <option value="">Seleccionar</option>
            <option value="asc">Menor a mayor</option>
            <option value="desc">Mayor a menor</option>
        </select>

        <label for="availability-select">Disponibilidad:</label>
        <select id="availability-select">
            <option value="">Seleccionar</option>
            <option value="available">Disponible</option>
            <option value="unavailable">No disponible</option>
        </select>

        <button id="filter-button">Filtrar</button>
    </div>

    {{#if isValid}}
    <ul>
        {{#each docs}}
        <li>
            {{title}} - {{description}} - {{price}} - {{category}} - {{status}}
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
        {{/each}}
    </ul>
    <div>
        {{#if hasPrevPage}}
            <a href="{{this.prevLink}}"><< Anterior</a>
        {{/if}}
        &nbsp;
        {{this.page}}
        &nbsp;
        {{#if hasNextPage}}
            <a href="{{this.nextLink}}">Siguiente >></a>
        {{/if}} 
    </div>
    {{else}}
    <h1>No hay productos para mostrar</h1>
    {{/if}}
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/products.js"></script>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
</html>